{% extends "settings_layout.html" %}
{% import "lily_form.html" as f with context %}
{% block settings %}
<div class="lp lp-dashboard">
  {% call f.group(_('Library')) %}
    {% call f.row(_('Hardcover Auto-Fetch'), help=_('Look up Hardcover IDs for books that have none')) %}
      <button type="button" class="btn btn-default" id="hardcover_auto_fetch" data-toggle="modal" data-target="#StatusDialog">{{_('Run')}}</button>
    {% endcall %}
    {% if feature_support['scheduler'] %}
    {% call f.row(_('Thumbnail Cache'), help=_('Rebuild every cover thumbnail')) %}
      <button type="button" class="btn btn-default" id="admin_refresh_cover_cache">{{_('Refresh Thumbnail Cache')}}</button>
    {% endcall %}
    {% endif %}
    {% call f.row(_('Reconnect Library'), help=_('Reload the Calibre database after changing it outside Lily')) %}
      <button type="button" class="btn btn-default" id="restart_database" data-toggle="modal" data-target="#StatusDialog">{{_('Reconnect')}}</button>
    {% endcall %}
    {% if config.schedule_metadata_backup %}
    {% call f.row(_('Metadata Backup'), help=_('Write metadata.opf next to every book')) %}
      <button type="button" class="btn btn-default" id="metadata_backup" data-toggle="modal" data-target="#StatusDialog">{{_('Queue All Books')}}</button>
    {% endcall %}
    {% endif %}
  {% endcall %}

  {% call f.group(_('Server')) %}
    {{ f.link(url_for('cwa_check_status.cwa_flash_status'), _('Service Status'), help=_('Check that ingest and the other Lily services are running'), id='check_mon_srvs') }}
    {% call f.row(_('Debug Package'), help=_('Logs and settings for a bug report')) %}
      <a class="btn btn-default" id="debug" href="{{url_for('admin.download_debug')}}">{{_('Download')}}</a>
    {% endcall %}
    {% call f.row(_('Restart or shut down'), help=_('Restart applies changes that need a fresh start')) %}
      <button type="button" class="btn btn-default" id="admin_restart" data-toggle="modal" data-target="#RestartDialog">{{_('Restart')}}</button>
      <button type="button" class="btn btn-danger" id="admin_stop" data-toggle="modal" data-target="#ShutdownDialog">{{_('Shutdown')}}</button>
    {% endcall %}
  {% endcall %}

  <p class="lp-footnote">
    Lily <span class="lp-mono">{{ cwa_version }}</span> · Calibre <span class="lp-mono">{{ calibre_version }}</span> · Kepubify <span class="lp-mono">{{ kepubify_version }}</span> ·
    <a id="cwa_github_link" class="github" href="https://github.com/Bondyboy2001/lily/">GitHub</a>
  </p>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</div>

<div id="RestartDialog" class="modal fade" role="dialog" aria-labelledby="RestartDialogTitle">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title" id="RestartDialogTitle">{{_('Restart')}}</h4></div>
      <div class="modal-body">
        <p>{{_('Are you sure you want to restart?')}}</p>
        <div id="spinner" class="spinner" style="display:none;">
          <img id="img-spinner" src="{{ url_for('static', filename='css/libs/images/loading-icon.gif') }}" alt="" aria-hidden="true"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <button type="button" class="btn btn-primary" id="restart">{{_('Restart')}}</button>
      </div>
    </div>
  </div>
</div>
<div id="ShutdownDialog" class="modal fade" role="dialog" aria-labelledby="ShutdownDialogTitle">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title" id="ShutdownDialogTitle">{{_('Shutdown')}}</h4></div>
      <div class="modal-body">
        <p>{{_('Are you sure you want to shutdown?')}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <button type="button" class="btn btn-danger" id="shutdown" data-dismiss="modal">{{_('Shutdown')}}</button>
      </div>
    </div>
  </div>
</div>
<div id="StatusDialog" class="modal fade" role="dialog" aria-labelledby="DialogHeader">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="DialogHeader">{{_('Updating, please do not reload this page')}}</h4>
      </div>
      <div class="modal-body">
        <div id="spinner2" class="spinner2" style="display:none;">
          <img id="img-spinner2" src="{{ url_for('static', filename='css/libs/images/loading-icon.gif') }}" alt="" aria-hidden="true"/>
        </div>
        <div id="DialogContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default hidden" id="DialogFinished" data-dismiss="modal">{{_('Close')}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block modal %}
{{ change_confirm_modal() }}
{% endblock %}
