{% extends "layout.html" %}
{% macro text_table_row(parameter, edit_text, show_text, validate, sort) -%}
<th data-field="{{ parameter }}" id="{{ parameter }}"
  {% if sort %}data-sortable="true" {% endif %}
  data-visible = "{{visiblility.get(parameter)}}"
  data-escape="true"
  {% if current_user.role_edit() %}
    data-editable-type="text"
    data-editable-url="{{ url_for('edit-book.edit_list_book', param=parameter)}}"
    data-editable-title="{{ edit_text }}"
    data-edit="true"
    {% if validate %}data-edit-validate="{{ _('This Field is Required') }}" {% endif %}
  {% endif %}
>{{ show_text }}</th>
{%- endmacro %}

{% macro book_checkbox_row(parameter, show_text, sort) -%}
<th data-name="{{parameter}}" data-field="{{parameter}}" data-switchable="false"
  {% if sort %}data-sortable="true" {% endif %}
  data-visible="{{visiblility.get(parameter)}}"
  data-formatter="bookCheckboxFormatter">
  {{show_text}}
</th>
{%- endmacro %}


{% block header %}
<link href="{{ url_for('static', filename='css/libs/bootstrap-table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/libs/bootstrap-editable.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/libs/bootstrap-wysihtml5-0.0.3.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="discover">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="lily-actions lily-table-actions">
      <button type="button" class="btn btn-default disabled" id="merge_books" aria-disabled="true">{{_('Merge')}}</button>
      <button type="button" class="btn btn-default disabled" id="edit_selected_books" aria-disabled="true">{{_('Edit')}}</button>
      <button type="button" class="btn btn-default disabled" id="archive_selected_books" aria-disabled="true">{{_('Archive')}}</button>
      <button type="button" class="btn btn-default disabled" id="unarchive_selected_books" aria-disabled="true">{{_('Unarchive')}}</button>
      <button type="button" class="btn btn-default disabled" id="read_selected_books" aria-disabled="true">{{_('Mark as read')}}</button>
      <button type="button" class="btn btn-default disabled" id="unread_selected_books" aria-disabled="true">{{_('Mark as unread')}}</button>
      <button type="button" class="btn btn-default disabled" id="delete_selected_books" aria-disabled="true">{{_('Delete')}}</button>
      <button type="button" class="btn btn-default disabled" id="add_to_shelf_btn" aria-disabled="true">{{_('Add to shelf')}}</button>
      <button type="button" class="btn btn-default disabled" id="table_xchange" aria-disabled="true">{{_('Exchange author & title')}}</button>
      {% if current_user.role_edit() %}
      <button type="button" class="btn btn-default" id="select_all">{{ _('Select all') }}</button>
      <button type="button" class="btn btn-default" id="unselect_all">{{ _('Clear all') }}</button>
      {% endif %}
    </div>
    <div>
      <div class="filterhead lily-inline-checks">
        <div class="checkbox">
          <input type="checkbox" id="autoupdate_titlesort" name="autoupdate_titlesort" checked>
          <label for="autoupdate_titlesort">{{_('Update title sort automatically')}}</label>
        </div>
        <div class="checkbox">
          <input type="checkbox" id="autoupdate_authorsort" name="autoupdate_authorsort" checked>
          <label for="autoupdate_authorsort">{{_('Update author sort automatically')}}</label>
        </div>
      </div>
    </div>

    <div id="batch-results" class="lily-batch-results" aria-live="polite"></div>
    <div>
      <table id="books-table" class="table table-no-bordered table-striped"
        data-url="{{url_for('web.list_books')}}" data-locale="{{ current_user.locale }}" data-classes="table table-no-bordered table-hover">
        <thead>
          <tr>
            {% if current_user.role_edit() %}
              <th data-field="state" data-checkbox="true" data-sortable="true"></th>
            {% endif %}
              <th data-field="id" id="id" data-visible="false" data-switchable="false"></th>
              {{ text_table_row('title', _('Enter Title'),_('Title'), true, true) }}
              {{ text_table_row('sort', _('Enter Title Sort'),_('Title Sort'), false, true) }}
              {{ text_table_row('author_sort', _('Enter Author Sort'),_('Author Sort'), false, true) }}
              {{ text_table_row('authors', _('Enter Authors'),_('Authors'), true, true) }}
              {{ text_table_row('tags', _('Enter Categories'),_('Categories'), false, true) }}
              {{ text_table_row('series', _('Enter Series'),_('Series'), false, true) }}
              <th data-field="series_index" id="series_index" data-visible="{{visiblility.get('series_index')}}" data-edit-validate="{{ _('This Field is Required') }}" data-sortable="true" {% if current_user.role_edit() %} data-editable-type="number" data-editable-placeholder="1" data-editable-step="0.01" data-editable-min="0" data-editable-url="{{ url_for('edit-book.edit_list_book', param='series_index')}}" data-edit="true" data-editable-title="{{_('Enter Series Number')}}"{% endif %}>{{_('Series Number')}}</th>
              {{ text_table_row('languages', _('Enter Languages'),_('Languages'), false, true) }}
              <!--th data-field="pubdate" data-type="date" data-visible="{{visiblility.get('pubdate')}}" data-viewformat="dd.mm.yyyy" id="pubdate" data-sortable="true">{{_('Publishing Date')}}</th-->
              {{ text_table_row('publishers', _('Enter Publishers'),_('Publishers'), false, true) }}
              <th data-field="comments" id="comments" data-escape="true" data-editable-mode="popup"  data-visible="{{visiblility.get('comments')}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="wysihtml5" data-editable-url="{{ url_for('edit-book.edit_list_book', param='comments')}}" data-edit="true" data-editable-title="{{_('Enter comments')}}"{% endif %}>{{_('Comments')}}</th>
              {% if current_user.check_visibility(32768) %}
                {{ book_checkbox_row('is_archived', _('Archived?'), false)}}
              {%  endif %}
              {{ book_checkbox_row('read_status', _('Read?'), false)}}
              {% for c in cc %}
                {% if c.datatype == "int" %}
                  <th data-field="custom_column_{{ c.id|string }}" id="custom_column_{{ c.id|string }}" data-visible="{{visiblility.get('custom_column_'+ c.id|string)}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="number" data-editable-placeholder="1" data-editable-step="1" data-editable-url="{{ url_for('edit-book.edit_list_book', param='custom_column_'+ c.id|string)}}" data-edit="true" data-editable-title="{{_('Enter %(name)s', name=c.name)}}"{% endif %}>{{c.name}}</th>
                {% elif c.datatype == "rating" %}
                  <th data-field="custom_column_{{ c.id|string }}" id="custom_column_{{ c.id|string }}" data-formatter="ratingFormatter" data-visible="{{visiblility.get('custom_column_'+ c.id|string)}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="number" data-editable-placeholder="1" data-editable-step="0.5" data-editable-min="1" data-editable-max="5" data-editable-url="{{ url_for('edit-book.edit_list_book', param='custom_column_'+ c.id|string)}}" data-edit="true" data-editable-title="{{_('Enter %(name)s', name=c.name)}}"{% endif %}>{{c.name}}</th>
                {% elif c.datatype == "float" %}
                  <th data-field="custom_column_{{ c.id|string }}" id="custom_column_{{ c.id|string }}" data-visible="{{visiblility.get('custom_column_'+ c.id|string)}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="number" data-editable-placeholder="1" data-editable-step="0.01" data-editable-url="{{ url_for('edit-book.edit_list_book', param='custom_column_'+ c.id|string)}}" data-edit="true" data-editable-title="{{_('Enter %(name)s', name=c.name)}}"{% endif %}>{{c.name}}</th>
                {% elif c.datatype == "enumeration" %}
                  <th data-field="custom_column_{{ c.id|string }}" id="custom_column_{{ c.id|string }}" data-visible="{{visiblility.get('custom_column_'+ c.id|string)}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="select" data-editable-source={{ url_for('edit-book.table_get_custom_enum', c_id=c.id)  }} data-editable-url="{{ url_for('edit-book.edit_list_book', param='custom_column_'+ c.id|string)}}" data-edit="true" data-editable-title="{{_('Enter %(name)s', name=c.name)}}"{% endif %}>{{c.name}}</th>
                {% elif c.datatype in ["datetime"] %}
                    <!-- missing -->
                {% elif c.datatype == "text" %}
                  {{ text_table_row('custom_column_' + c.id|string, _('Enter %(name)s', name=c.name), c.name, false, false) }}
                {% elif c.datatype == "comments" %}
                    <th data-field="custom_column_{{ c.id|string }}" id="custom_column_{{ c.id|string }}" data-escape="true" data-editable-mode="popup"  data-visible="{{visiblility.get('custom_column_'+ c.id|string)}}" data-sortable="false" {% if current_user.role_edit() %} data-editable-type="wysihtml5" data-editable-url="{{ url_for('edit-book.edit_list_book', param='custom_column_'+ c.id|string)}}" data-edit="true" data-editable-title="{{_('Enter %(name)s', name=c.name)}}"{% endif %}>{{c.name}}</th>
                {% elif c.datatype == "bool" %}
                    {{ book_checkbox_row('custom_column_' + c.id|string, c.name, false)}}
                {% else %}
                  <!--{{ text_table_row('custom_column_' + c.id|string, _('Enter %(name)s', name=c.name), c.name, false, false) }} -->
                {% endif %}
              {% endfor %}
            {% if current_user.role_delete_books() and current_user.role_edit()%}
              <th data-align="right" data-formatter="EbookActions" data-switchable="false">
                <br>
                {{_('Delete')}}
              </th>
            {% endif %}
          </tr>
        </thead>
      </table>
    </div>
</div>

{% endblock %}
{% block modal %}
{{ delete_book(current_user.role_delete_books()) }}
{% if current_user.role_edit() %}
<div class="modal fade" id="mergeModal" tabindex="-1" role="dialog" aria-labelledby="mergeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mergeModalLabel">{{_('Merge Books')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be merged and then deleted:')}}</p>
        <div id="merge_from"></div>
        <p>{{_('Into this book:')}}</p>
        <div id="merge_to"></div>
      </div>
      <div class="modal-footer">
        <button id="merge_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="merge_confirm" type="button" class="btn btn-danger" value="{{_('Merge books')}}" name="merge_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_selected_modal" tabindex="-1" role="dialog" aria-labelledby="delete_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="delete_selected_modalLabel">{{_('Delete Books')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be deleted:')}}</p>
        <div id="display-delete-selected-books"></div>
      </div>
      <div class="modal-footer">
        <button id="delete_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="delete_selected_confirm" type="button" class="btn btn-danger" value="{{_('Delete books')}}" name="delete_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="archive_selected_modal" tabindex="-1" role="dialog" aria-labelledby="archive_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="archive_selected_modalLabel">{{_('Archive Books')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be archived:')}}</p>
        <div id="display-archive-selected-books"></div>
      </div>
      <div class="modal-footer">
        <button id="archive_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="archive_selected_confirm" type="button" class="btn btn-primary" value="{{_('Archive books')}}" name="archive_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unarchive_selected_modal" tabindex="-1" role="dialog" aria-labelledby="unarchive_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="unarchive_selected_modalLabel">{{_('Unarchive Books')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be unarchived:')}}</p>
        <div id="display-unarchive-selected-books"></div>
      </div>
      <div class="modal-footer">
        <button id="unarchive_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="unarchive_selected_confirm" type="button" class="btn btn-primary" value="{{_('Unarchive books')}}" name="unarchive_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="read_selected_modal" tabindex="-1" role="dialog" aria-labelledby="read_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="read_selected_modalLabel">{{_('Mark as Read')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be marked as read:')}}</p>
        <div id="display-read-selected-books"></div>
      </div>
      <div class="modal-footer">
        <button id="read_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="read_selected_confirm" type="button" class="btn btn-primary" value="{{_('Mark as read')}}" name="read_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unread_selected_modal" tabindex="-1" role="dialog" aria-labelledby="unread_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="unread_selected_modalLabel">{{_('Mark as Unread')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('These books will be marked as unread:')}}</p>
        <div id="display-unread-selected-books"></div>
      </div>
      <div class="modal-footer">
        <button id="unread_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="unread_selected_confirm" type="button" class="btn btn-primary" value="{{_('Mark as unread')}}" name="unread_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_selected_modal" tabindex="-1" role="dialog" aria-labelledby="edit_selected_modalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="edit_selected_modalLabel">{{_('Edit Metadata')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('Fill in the fields to change. Blank fields stay as they are.')}}</p>
        <p class="text-muted lily-table-note">{{_('Authors, tags, languages and publishers take several values, separated by commas.')}}</p>
        <div class="form-group">
          <label for="title_input">{{_('Title')}}</label>
          <input class="form-control" id="title_input">
        </div>
        <div class="form-group">
          <label for="title_sort_input">{{_('Title sort')}}</label>
          <input class="form-control" id="title_sort_input">
        </div>
        <div class="form-group">
          <label for="author_sort_input">{{_('Author sort')}}</label>
          <input class="form-control" id="author_sort_input">
        </div>
        <div class="form-group">
          <label for="authors_input">{{_('Authors')}}</label>
          <input class="form-control" id="authors_input">
        </div>
        <div class="form-group">
          <label for="categories_input">{{_('Tags')}}</label>
          <input class="form-control" id="categories_input">
        </div>
        <div class="form-group">
          <label for="series_input">{{_('Series')}}</label>
          <input class="form-control" id="series_input">
        </div>
        <div class="form-group">
          <label for="languages_input">{{_('Languages')}}</label>
          <input class="form-control" id="languages_input">
        </div>
        <div class="form-group">
          <label for="publishers_input">{{_('Publishers')}}</label>
          <input class="form-control" id="publishers_input">
        </div>
        <div class="form-group">
          <label for="comments_input">{{_('Comments')}}</label>
          <input class="form-control" id="comments_input">
        </div>
      </div>
      <div class="modal-footer">
        <button id="edit_selected_abort" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="edit_selected_confirm" type="button" class="btn btn-primary" value="{{_('Save changes')}}" name="edit_selected_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Add to Shelf Modal -->
<div class="modal fade" id="addToShelfModal" tabindex="-1" role="dialog" aria-labelledby="addToShelfModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{_('Close')}}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addToShelfModalLabel">{{_('Select a Shelf')}}</h4>
      </div>
      <div class="modal-body">
        <p>{{_('Please select a shelf to add the selected books to:')}}</p>
        <select class="form-control" id="shelf_selection_dropdown">
            <option value="">{{_('-- Select a Shelf --')}}</option>
            {% if g.shelves_access %}
                {% for shelf in g.shelves_access %}
                    {% if current_user.is_anonymous == False %}
                        {% if shelf.user_id == current_user.id or (shelf.is_public and current_user.role_edit_shelfs()) %}
                            <option value="{{ shelf.id }}">{{ shelf.name }}</option>
                        {% endif %}
                    {% elif shelf.is_public and config.config_anon_browse %}
                        {# Anonymous users can only see public shelves if anon browse is enabled #}
                        {# Permissions to edit public shelves for anonymous would be odd, so we assume they can't add to public shelves #}
                        {# This part might need adjustment based on how `check_shelf_edit_permissions` handles anonymous users for public shelves #}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
      </div>
      <div class="modal-footer">
        <button id="cancel_add_to_shelf_btn" type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input id="confirm_add_to_shelf_btn" type="button" class="btn btn-primary" value="{{_('Add')}}">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-table-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-editable.min.js') }}"></script>
{% if not current_user.locale == 'en' %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/locale/bootstrap-table-' + current_user.locale + '.min.js') }}" charset="UTF-8"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/libs/wysihtml5-0.3.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-wysihtml5-0.0.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/wysihtml5-0.0.3.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}