{% extends "settings_layout.html" %}
{% import "lily_form.html" as f with context %}
{% block header %}
<link href="{{ url_for('static', filename='css/libs/bootstrap-table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/libs/bootstrap-editable.css') }}" rel="stylesheet">
{% endblock %}
{% block heading %}{{ _('Library View') }}{% endblock %}
{% block settings %}
<div class="lp">
  <form role="form" method="POST" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {% call f.group(_('Library View')) %}
      {{ f.input('config_calibre_web_title', _('Title'), conf.config_calibre_web_title, help=_('Shown in the browser tab and the sidebar.'), attrs='required') }}
      {{ f.input('config_books_per_page', _('Books per Page'), conf.config_books_per_page, type='number', attrs='min="1" max="200"') }}
      {{ f.input('config_random_books', _('Random Books on Home'), conf.config_random_books, type='number', attrs='min="1" max="30"') }}
      {{ f.input('config_authors_max', _('Authors Shown Before Hiding'), conf.config_authors_max, type='number', help=_('0 shows them all.'), attrs='min="0" max="999"') }}
      {{ f.input('config_title_regex', _('Title Sorting Pattern'), conf.config_title_regex, help=_('Regex for leading words to ignore when sorting, like "The".')) }}
    {% endcall %}

    {% call f.group(_('Calibre Columns')) %}
      {{ f.input('config_columns_to_ignore', _('Hide Columns Matching'), conf.config_columns_to_ignore, help=_('Regex of custom columns to leave out of the UI.')) }}
      {% call f.row(_('Read Status Column'), for_id='config_read_column', help=_('Sync read/unread with a Calibre yes/no column.')) %}
        <select name="config_read_column" id="config_read_column" class="form-control">
          <option value="0" {% if conf.config_read_column == 0 %}selected{% endif %}>{{ _('None') }}</option>
          {% for readColumn in readColumns %}
          <option value="{{ readColumn.id }}" {% if readColumn.id == conf.config_read_column %}selected{% endif %}>{{ readColumn.name }}</option>
          {% endfor %}
        </select>
      {% endcall %}
      {% call f.row(_('Restriction Column'), for_id='config_restricted_column', help=_('Limit which books users see by a Calibre text column.')) %}
        <select name="config_restricted_column" id="config_restricted_column" class="form-control">
          <option value="0" {% if conf.config_restricted_column == 0 %}selected{% endif %}>{{ _('None') }}</option>
          {% for restrictColumn in restrictColumns %}
          <option value="{{ restrictColumn.id }}" {% if restrictColumn.id == conf.config_restricted_column %}selected{% endif %}>{{ restrictColumn.name }}</option>
          {% endfor %}
        </select>
      {% endcall %}
    {% endcall %}

    {% call f.group(_('New Users'), help=_('Applied to accounts created from now on.')) %}
      {% call f.row(_('Interface Language'), for_id='config_default_locale') %}
        <select name="config_default_locale" id="config_default_locale" class="form-control">
          {% for translation in translations %}
            <option value="{{translation}}" {% if translation|string == conf.config_default_locale %}selected{% endif %}>{{ translation.display_name|capitalize }}</option>
          {% endfor %}
        </select>
      {% endcall %}
      {% call f.row(_('Language of Books'), for_id='config_default_language') %}
        <select name="config_default_language" id="config_default_language" class="form-control">
          <option value="all" {% if conf.config_default_language == "all" %}selected{% endif %}>{{ _('Show All') }}</option>
          {% for language in languages %}
          <option value="{{ language.lang_code }}" {% if conf.config_default_language == language.lang_code %}selected{% endif %}>{{ language.name }}</option>
          {% endfor %}
        </select>
      {% endcall %}
      <div class="lp-checks">
        {{ f.check('admin_role', _('Admin User'), conf.role_admin()) }}
        {{ f.check('download_role', _('Allow Downloads'), conf.role_download()) }}
        {{ f.check('viewer_role', _('Allow eBook Viewer'), conf.role_viewer()) }}
        {% if conf.config_uploading %}{{ f.check('upload_role', _('Allow Uploads'), conf.role_upload()) }}{% endif %}
        {{ f.check('edit_role', _('Allow Edit'), conf.role_edit(), attrs='data-control="edit_settings"') }}
        <div data-related="edit_settings">{{ f.check('delete_role', _('Allow Delete Books'), conf.role_delete_books()) }}</div>
        {{ f.check('passwd_role', _('Allow Changing Password'), conf.role_passwd()) }}
        {{ f.check('edit_shelf_role', _('Allow Editing Public Shelves'), conf.role_edit_shelfs()) }}
      </div>
    {% endcall %}

    {% set restrict_actions %}{% if not simple %}<a href="#" id="get_tags" data-id="0" class="btn btn-default" data-toggle="modal" data-target="#restrictModal">{{_('Tags')}}</a><a href="#" id="get_column_values" data-id="0" class="btn btn-default" data-toggle="modal" data-target="#restrictModal">{{_('Column Values')}}</a>{% endif %}{% endset %}
    {% call f.group(_('New Users: Sidebar'), actions=restrict_actions) %}
      <div class="lp-checks">
        {% for element in sidebar %}
          {% if element['config_show'] %}{{ f.check('show_' ~ element['visibility'], element['show_text'], conf.show_element_new_user(element['visibility'])) }}{% endif %}
        {% endfor %}
        {{ f.check('Show_detail_random', _('Show Random Books in Detail View'), conf.show_detail_random()) }}
      </div>
    {% endcall %}

    <div class="lp-actions">
      <span class="lp-spacer"></span>
      <a href="{{ url_for('admin.admin') }}" class="btn btn-default">{{_('Cancel')}}</a>
      <button type="submit" name="submit" class="btn btn-primary">{{_('Save')}}</button>
    </div>
  </form>
</div>
{% endblock %}
{% block modal %}
{{ restrict_modal() }}
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-table-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap-table/bootstrap-editable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
