{% extends "layout.html" %}

{% block body %}
<div class="discover lily-admin lily-admin-wide">
  <div class="lily-code-block">
    <div class="lily-code-head">
      <span class="lily-code-title">{{ title }}</span>
      <a class="icon-btn" href="{{ url_for('cwa_logs.download_log', log_filename=log_filename) }}" title="{{_('Download Log')}}" aria-label="{{_('Download Log')}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
    </div>
    <div class="logging_window lily-log">
      <p id="innerStatus">{{ log }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}