{% import 'image.html' as image %}
{% extends "layout.html" %}
{% block view_switch %}{{ image.view_switch('series', 'grid') }}{% endblock %}
{% block body %}

<div class="lily-list-toolbar">
  {# Grid/List icons, pinned to the toolbar's top right #}
  {{ self.view_switch() }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  {{ image.list_menu(order, 'series', charlist|map(attribute='char')|list) }}
</div>

    {% if entries[0] %}
        <div id="list" class="row lily-series-grid">
          {% for entry in entries %}
              <div class="book lily-book sortable" {% if entry[0].sort %}data-name="{{entry[0].series[0].name}}"{% endif %} data-id="{% if entry[0].series[0].name %}{{entry[0].series[0].name}}{% endif %}">
                  <div class="cover">
                      <a href="{{url_for('web.books_list', data=data, sort_param='stored', book_id=entry[0].series[0].id )}}">
                          <span class="img" title="{{entry[0].series[0].name}}">
                              {{ image.book_cover(entry[0])}}
                              <span class="badge lily-cover-count" title="{{_('Books')}}">{{entry.count}}</span>
                            </span>
                      </a>
                  </div>
                  <div class="meta">
                      <a href="{{url_for('web.books_list', data=data, sort_param='stored', book_id=entry[0].series[0].id )}}">
                          <p title="{{entry[0].series[0].name}}" class="title">{{entry[0].series[0].name}}</p>
                      </a>
                  </div>
              </div>
        {% endfor %}
        </div>
    {% else %}
        {{ image.empty_state('glyphicon-list-alt', _('No series yet'),
                             _('Series appear here once a book in your library has one.'),
                             [(_('Browse all books'), url_for('web.index'), True)]) }}
    {% endif %}


{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/filter_grid.js') }}"></script>
{% endblock %}
