{% extends "layout.html" %}
{% block body %}
<div class="lily-admin lily-admin-wide">
   <div id="log_group" class="inputs lily-log-choice">
     {% if log_enable %}
      <div><input type="radio" name="log_radio" id="log1" value="0" checked>
      <label for="log1">{{_('Show Lily Log: ')}}</label> <span class="lily-mono">{{logfiles[0]}}</span></div>
     {% else %}
     <div><label for="log1">{{_('Lily Log: ')}}</label> {{_("Stream output, can't be displayed")}}</div>
     {% endif %}
     {% if accesslog_enable %}
      <div><input type="radio" name="log_radio" id="log0" value="1" {% if not log_enable %}checked{% endif %}>
      <label for="log0">{{_('Show Access Log: ')}}</label> <span class="lily-mono">{{logfiles[1]}}</span></div>
     {% endif %}
   </div>
   <div class="lily-actions lily-mb">
      {% if log_enable %}
      <a class="btn btn-default" id="log_file_0" href="{{url_for('admin.download_log', logtype=0)}}">{{_('Download Lily Log')}}</a>
      {% endif %}
      {% if accesslog_enable %}
      <a class="btn btn-default" id="log_file_1" href="{{url_for('admin.download_log', logtype=1)}}">{{_('Download Access Log')}}</a>
      {% endif %}
   </div>
   <div id="renderer" class="log lily-log"></div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/logviewer.js') }}"></script>
{% endblock %}
