{% macro delete_book(allow) %}
{% if allow %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="metaDeleteLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="metaDeleteLabel">{{_('Are You Sure?')}}</h4>
      </div>
        <div class="modal-body">
          <p>
            <span class="hidden" id="book_format">{{_('This book format will be deleted. A recovery copy is kept for an administrator to restore.')}}</span>
            <span class="hidden" id="book_complete">{{_('This book will be deleted. A recovery copy is kept for an administrator to restore.')}}</span>
          </p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Cancel')}}</button>
        <input type="button" class="btn btn-danger" value="{{_('Delete')}}" name="delete_confirm" id="delete_confirm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
{% macro delete_confirm_modal() %}
<div id="GeneralDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="header-GeneralDeleteModal" aria-describedby="text-GeneralDeleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title" id="header-GeneralDeleteModal"></h4></div>
      <div class="modal-body">
        <p id="text-GeneralDeleteModal"></p>
      </div>
      <div class="modal-footer">
        <button id="btnConfirmNo-GeneralDeleteModal" type="button" class="btn btn-default">{{_('Cancel')}}</button>
        <button id="btnConfirmYes-GeneralDeleteModal" type="button" class="btn btn-danger">{{_('Delete')}}</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
