{% extends "layout.html" %}
{% block body %}
<div class="lily-narrow">
  <h2>{{_('Register New Account')}}</h2>
  {% if error %}
  <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
  <form method="POST" role="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if not config.config_register_email %}
    <div class="form-group required">
      <label for="name">{{_('Username')}}</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="{{_('Choose a username')}}" required>
    </div>
    {% endif %}
    <div class="form-group required">
      <label for="email">{{_('Email')}}</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="{{_('Your Email')}}" required>
    </div>
    <div class="lily-form-actions">
      {% if config.config_use_github_oauth %}
      <a href="{{url_for('oauth.github_login')}}" class="btn btn-default">Register with GitHub</a>
      {% endif %}
      {% if config.config_use_google_oauth %}
      <a href="{{url_for('oauth.google_login')}}" class="btn btn-default">Register with Google</a>
      {% endif %}
      <button type="submit" id="submit" class="btn btn-primary">{{_('Register')}}</button>
    </div>
  </form>
</div>
{% endblock %}
