{% extends "layout.html" %}
{% block body %}
<div class="lily-admin lily-remote-login">
  <div class="settings-container">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h2>{{_('Magic Link - Authorise New Device')}}</h2>
    <p>{{_('On another device, login and visit:')}}</p>
    <p class="lily-remote-url">
      <a id="verify_url" data-token="{{token}}" href="{{verify_url}}">{{verify_url}}</a>
    </p>
    {% if qrcode %}
    <img class="lily-remote-qr" src="{{qrcode_url}}" width="150" height="150" alt="{{_('QR code for signing in on another device')}}">
    {% endif %}
    <p>{{_('Once verified, you will automatically be logged in on this device.')}}</p>
    <p class="help-block">{{_('This verification link will expire in 10 minutes.')}}</p>
  </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/remote_login.js') }}"></script>
{% endblock %}
