{% extends "settings_layout.html" %}
{% import "lily_form.html" as f with context %}
{% block header %}
<link href="{{ url_for('static', filename='css/libs/bootstrap-table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/libs/bootstrap-editable.css') }}" rel="stylesheet">
{% endblock %}
{% block settings %}
<div class="lp">
  <form role="form" method="POST" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% call f.group(_('Schedule')) %}
      {{ f.select('schedule_start_time', _('Start Time'), starttime, config.schedule_start_time) }}
      {{ f.select('schedule_duration', _('Maximum Duration'), duration, config.schedule_duration) }}
    {% endcall %}
    {% call f.group(_('Tasks')) %}
      {{ f.toggle('schedule_generate_book_covers', _('Scheduled Thumbnail Refresh'), config.schedule_generate_book_covers, help=_('Thumbnails are still made on demand when this is off.')) }}
      {{ f.toggle('schedule_reconnect', _('Reconnect Calibre Database'), config.schedule_reconnect) }}
      {{ f.toggle('schedule_metadata_backup', _('Generate Metadata Backup Files'), config.schedule_metadata_backup) }}
    {% endcall %}
    <div class="lp-actions is-save">
      <span class="lp-spacer"></span>
      <a href="{{ request.path }}" class="btn btn-default">{{_('Cancel')}}</a>
      <button type="submit" name="submit" value="submit" class="btn btn-primary">{{_('Save')}}</button>
    </div>
  </form>
</div>
{% endblock %}
