{% extends "layout.html" %}
{% block body %}
  <div class="discover lily-shelf-order">
    <p class="help-block">{{_('Drag a book to move it, or use its arrows.')}}</p>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <ol id="sortTrue" class="lily-order-list">
        {% for entry in entries %}
          {% set book = entry['Books'] %}
          <li id="{{ book['id'] }}" class="list-group-item lily-order-row">
            <img class="lily-order-cover" alt="" src="{{ url_for('web.get_cover', book_id=book['id']) if entry['visible'] else url_for('static', filename='generic_cover.svg') }}">
            <div class="lily-order-text">
              {% if entry['visible'] %}
              <span class="lily-order-title">{{ book['title'] }}</span>
              <span class="lily-order-meta">
                {%- for author in book['author']|named_authors %}{{ author.name.replace('|', ',') }}{% if not loop.last %} &amp; {% endif %}{% endfor -%}
              </span>
              {% else %}
              <span class="lily-order-title">{{_('Hidden book')}}</span>
              {% endif %}
            </div>
            <button type="button" class="icon-btn lily-order-up" title="{{_('Move up')}}" aria-label="{{_('Move up')}}"><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span></button>
            <button type="button" class="icon-btn lily-order-down" title="{{_('Move down')}}" aria-label="{{_('Move down')}}"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></button>
          </li>
        {% endfor %}
      </ol>
      <div class="lily-form-actions">
        <a href="{{ url_for('shelf.show_shelf', shelf_id=shelf.id) }}" id="shelf_back" class="btn btn-default">{{_('Back')}}</a>
        <button type="button" onclick="sendData('{{ url_for('shelf.order_shelf', shelf_id=shelf.id) }}')" class="btn btn-primary" id="ChangeOrder">{{_('Save')}}</button>
      </div>
  </div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/libs/Sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shelforder.js') }}"></script>
{% endblock %}
