{% import 'image.html' as image %}
{% extends "layout.html" %}
{% block view_switch %}{{ image.view_switch('books', current_user.get_view_property('books', 'view') or 'grid') }}{% endblock %}
{% block body %}
<div class="discover">
  <div class="lily-list-toolbar">
    {% set can_edit = current_user.is_authenticated and ((current_user.role_edit_shelfs() and shelf.is_public) or not shelf.is_public) %}
    {# Top right: Grid/List icons, then the shelf's own actions behind a ⋯ menu #}
    <div class="lily-toolbar-end">
      {{ self.view_switch() }}
      {% if can_edit %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="dropdown">
        <button type="button" class="icon-btn dropdown-toggle" id="shelf-menu-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" title="{{ _('Shelf Actions') }}" aria-label="{{ _('Shelf Actions') }}">
          <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="shelf-menu-toggle">
          <li><a id="edit_shelf" href="{{ url_for('shelf.edit_shelf', shelf_id=shelf.id) }}">{{ _('Edit Shelf') }}</a></li>
          <li><a href="#" class="lily-menu-danger" data-action="{{url_for('shelf.delete_shelf', shelf_id=shelf.id)}}" id="delete_shelf" data-value="{{ shelf.id }}">{{ _('Delete Shelf') }}</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  {% if can_edit and entries.__len__() %}
  {{ image.sort_menu(order, url_for('shelf.show_shelf', shelf_id=shelf.id, sort_param='SORT_PARAM'), ['added', 'title', 'author', 'published', 'shelf']) }}
  {% endif %}
  </div>
  <div class="row display-flex lily-grid">
    {% for entry in entries %}
    {{ image.book_card(entry.Books, current_user, entry[2] == True, g.config_authors_max, extra_class='isotope-item') }}
    {% endfor %}
  </div>
  {% if not entries %}
  {{ image.empty_state('glyphicon-list', _('This shelf is empty'),
                       _('Use the Shelves button on a book page, or under a cover, to put books here.'),
                       [(_('Browse books'), url_for('web.index'), True)]) }}
  {% endif %}
</div>
{% endblock %}
{% block modal %}
{{ delete_confirm_modal() }}
{% endblock %}
