{% extends "settings_layout.html" %}
{% import "lily_form.html" as f with context %}
{% block settings %}
<div class="lp">
  {% call f.group(None, id='users') %}
    {% for user in users %}
      {{ f.link(url_for('admin.edit_user', user_id=user.id), user.name,
                value=(_('Admin') if user.role_admin() else (_('Guest') if user.role_anonymous() else None))) }}
    {% endfor %}
  {% endcall %}
  <div class="lp-actions">
    <span class="lp-spacer"></span>
    <a class="btn btn-primary" id="add_user" href="{{ url_for('admin.new_user') }}">{{ _('Add user') }}</a>
  </div>
</div>
{% endblock %}
